@import "abstract/mixins";
@import "abstract/variables";

html, body {
    color: black;
    background-color: lighten($color: #ffeeb8, $amount: 3);
}

p{
    font-size: size(sm);

    @include responsive(xl){
        font-size: size(sm)-.1;
    }
}

.container{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(6, minmax(min-content,1fr));
}

.inicio-top{
    margin-top: 100px;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid;

    @include responsive(md){
        grid-column: 1 / 7;
        margin-top: 50px;
    }

    &_img{
        width: 300px;

        @include responsive(xl){
            width: 250px;
        }

        @include responsive(md){
            width: 200px;
        }
    }

    &_titulo{
        margin-top: 30px;
        font-size: size(xl);

        @include responsive(xl){
            font-size: size(xl)-1;
        }

        @include responsive(md){
            font-size: size(lg);
        }

        @include responsive(sm){
            font-size: size(md);
        }
    }

    &_subtitulo{
        margin-bottom: 30px;
        font-size: size(md);

        @include responsive(xl){
            font-size: size(md)-.05;
        }

        @include responsive(md){
            font-size: size(md)-.1;
            margin-bottom: 25px;
        }

        @include responsive(sm){
            font-size: size(sm)+.1;
        }
    }

    &_button{
        background-color: black;
        margin-bottom: 20px;

        &_link{
            text-decoration: none;
            color: lighten($color: #ffeeb8, $amount: 3);
            transition: .3s;
            font-size: size(sm);

            @include responsive(xl){
                font-size: size(sm)-.1;
            }

            @include responsive(md){
                font-size: size(sm)-.2;
            }

            @include responsive(sm){
                font-size: size(sm)-.3;
            }

            &:hover{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.inicio-middle{

    grid-row: 2 / 3;
    grid-column: 1 / 7;
    margin-top: 30px;
    color: black;
    

    &_about{
        
        display: flex;
        justify-content: center;
        text-align: justify;
        padding:10px;

        @include responsive(md){
            flex-direction: column;
            border-bottom: 1px solid;
        }

        &_es{
            padding-right: 40px;
            flex: 1;

            @include responsive(md){
                padding-right: 0;
            }
        }

        &_eng{
            border-left: 1px solid;
            padding-left: 40px;
            flex: 1;

            @include responsive(md){
                border-left: none;
                padding-left: 0;
            }
        }
    }

    &_conocimientos{
        display: flex;
        justify-content: center;
        text-align: justify;
        padding:10px;

        @include responsive(md){
            flex-direction: column;
            margin-top: 20px;
        }

        &_es{
            padding-right: 40px;
            flex: 1;

            @include responsive(md){
                padding-right: 0;
            }
        }

        &_eng{
            border-left: 1px solid;
            padding-left: 40px;
            flex: 1;

            @include responsive(md){
                border-left: none;
                padding: 0;
            }
        }
    }
}

.inicio-bottom{

    grid-row: 3 / 4;
    grid-column: 1 / 7;
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
    border-top: 1px solid;

    &_title{
        text-align: center;
        padding-top: 10px;
        
        h2{
            font-size: size(lg);

            @include responsive(xl){
                font-size: size(md)-.05;
            }
        }
    }

    &_images{

        margin-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(4, minmax(min-content,1fr));

        @include responsive(md){
            grid-template-columns: none;
            flex-direction: column;
        }


        &_uno{
            grid-column: 1 / 2;
            transition: .5s ease;
            opacity: .5;

            &:hover{
                transform: scale(1.3);
                z-index: 1;
                opacity: 1;

                @include responsive(xl){
                    transform: scale(1.1);
                }
            }

            @include responsive(md){
                grid-column: none;
                margin-bottom: 20px;
            }

        }

        &_dos{
            grid-column: 2 / 3;
            transition: .5s ease;
            opacity: .5;

            &:hover{
                transform: scale(1.3);
                z-index: 1;
                opacity: 1;

                @include responsive(xl){
                    transform: scale(1.1);
                }
            }

            @include responsive(md){
                grid-column: none;
                margin-bottom: 20px;
            }

        }

        &_tres{
            grid-column: 3 / 4;
            transition: .5s ease;
            opacity: .5;

            &:hover{
                transform: scale(1.3);
                z-index: 1;
                opacity: 1;

                @include responsive(xl){
                    transform: scale(1.1);
                }
            }

            @include responsive(md){
                grid-column: none;
                margin-bottom: 20px;
            }

        }

        &_cuatro{
            grid-column: 4 / 5;
            transition: .5s ease;
            opacity: .5;

            &:hover{
                transform: scale(1.3);
                z-index: 1;
                opacity: 1;

                @include responsive(xl){
                    transform: scale(1.1);
                }
            }

            @include responsive(md){
                grid-column: none;
            }

        }
    }
}

.images {
    width: 200px;
    height: 150px;
    border-radius: 10px;

    @include responsive(xl){
        width: 150px;
        height: 100px;
    }

    @include responsive(md){
        width: 200px;
        height: 150px;
    }

    @include responsive(sm){
        width: 150px;
        height: 100px;
    }

}

.info{
    
    padding-top: 20px;
    grid-row: 4 / 5;
    grid-column: 2 / 6;
    border-top: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content,1fr));
    margin-bottom: 20px;

    @include responsive(lg){
        grid-template-columns: none;
    }

    @include responsive(md){
        display: flex;
        flex-direction: column;
        grid-column: 1 / 7;
    }

    &_izq{

        padding-right: 40px;

        @include responsive(xl){
            padding-right: 20px;
        }

        h4{
            font-size: size(md);

            @include responsive(xl){
                font-size: size(md)-.05;
            }
        }

        ul{
            list-style-type: square;
        }

        p{
            padding: 0;
            margin:0;
        }
        a{
            text-decoration: none;
            color: black;
            justify-content: right;

            @include responsive(xl){
                font-size: size(sm)-.1;
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &_drcha{

        padding-left: 40px;

        @include responsive(xl){
            padding-left: 20px;
        }

        @include responsive(lg){
            padding-left: 0;
        }

        h4{
            font-size: size(md);

            @include responsive(xl){
                font-size: size(md)-.05;
            }
        }

        ul{
            list-style-type: square;
        }
        
        p{
            padding: 0;
            margin:0;
        }

        a{
            text-decoration: none;
            color: black;

            @include responsive(xl){
                font-size: size(sm)-.1;
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }
}